
.outerBox {
    height: 370px;
    width: 270px;
    background-color: rgb(157, 157, 157);
}

.header {
    position: relative;
    height: 12%;
    width: 85%;
    left: 7%;
    top: 5%;
    background-color: rgb(227, 222, 222);
}

.body {

    position: relative;
    height: 72%;
    width: 85%;
    left: 7%;
    top: 10%;
    background-color: rgb(202, 198, 198);

}

.buttons {
    font-size: 16px;
    width: 65px;
    height: 40px;
}


.gridContainer {
    position: relative;
    display: grid;
    row-gap: 2px;
    grid-template-columns: 70px 70px 70px;
    left: 5%;
    top: 3%;
}

.clearBtn {
    position: relative;
    width: 135px;
    height: 39px;
    top: 1px;
}

.displayBar {
    position: relative;
    height: 70%;
    width: 94%;
    top: 13%;
    left: 2.5%;
    background-color: white;
}

